---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<header class="post-preview__header">
		<p class="post-preview__date">{post.frontmatter.publishDate}</p>
		<a href={post.url}><h1 class="post-preview__title">{post.frontmatter.title}</h1></a>
	</header>
	<p>{post.frontmatter.description}</p>
	<a href={post.url}>Read more</a>
</article>